.gcloudignore
.env
.env.sample
.git
.venv/
.vscode/
.pytest_cache/
.mypy_cache/
docs/
obj/
data/
scripts/
tests/
__pycache__/
*.pyc
*.pyo
*~
server.err
server.log
app.yaml.sample
README.md
CONTRIB.md
