runtime: python312
app_engine_apis: true



skip_files:
- .vscode/
- docs/
- obj/
- data/
- ^(.*/)?#.*#$
- ^(.*/)?.*~$
- ^(.*/)?.*\.py[co]$
- ^(.*/)?\..*$
- README.md
- CONTRIB.md

handlers: # static then dynamic
- url: /favicon\.ico
  static_files: favicon.ico
  upload: favicon\.ico
  
- url: /css
  static_dir: static/css

- url: /js
  static_dir: static/js
  
- url: /download
  static_dir: static/download

- url: .*
  script: main.app
  login: required
  auth_fail_action: redirect

