runtime: python312
entrypoint: gunicorn -b :$PORT main:app

env_variables:
  ALLOWED_USER_EMAIL: "user@example.com"
  DEV_USER_EMAIL: "user@example.com"

handlers: # static then dynamic
- url: /favicon\.ico
  static_files: static/app/favicon.ico
  upload: static/app/favicon\.ico
  
- url: /css
  static_dir: static/css

- url: /js
  static_dir: static/js
  
- url: /download
  static_dir: static/download

- url: .*
  script: auto

