{% extends '/layout/base.html' %}
{% block title %}Eridanus::Push-up activity{% endblock %}
{% block header %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" integrity="sha256-owX7sroiO/O1a7h3a4X29A1g3QgqdNvijRQ7V5TH45M=" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<h1>Push-ups activity</h1>
<form action="/activities/pushups/create/" method="post">
    {{ form.csrf_token }}
    <div class="form-group">
        <label for="activity_date">Activity Date</label>
        <!--<input id="date" type="date" class="form-control" required="required">-->
        {{ form.activity_date(class_="form-control", type="date", required="required") }}
    </div>
    <div class="form-group">
        <label for="activity_time">Activity Time</label>
        <!--<input id="time" type="number"  class="form-control" placeholder="Enter time" required="required"></input>-->
        {{ form.activity_time(class_="form-control", type="time", placeholder="Enter activity time", required="required", **{'data-bind': 'value: time'}) }}
    </div>
    <div class="form-group">
        <label for="duration">Duration (min)</label>
        <!--<input id="time" type="number"  class="form-control" placeholder="Enter time" required="required"></input>-->
        {{ form.duration(class_="form-control", type="number", placeholder="Enter duration", **{'data-bind': 'value: duration'}) }}
    </div>
    <div class="form-group">
        <label for="duration">Count</label>
        <!--<input id="time" type="number"  class="form-control" placeholder="Enter time" required="required"></input>-->
        {{ form.count(class_="form-control", type="number", placeholder="Enter number of pushups", **{'data-bind': 'value: count'}) }}
    </div>
    <div class="form-group">
        <label for="calories">Calories (kcal)</label>
        <!--<input id="calories" type="number"  class="form-control" placeholder="Enter calories" required="required"></input>-->
        {{ form.calories(class_="form-control", type="number", placeholder="Enter calories") }}
    </div>
    <div class="form-group">
        <label for="notes">Notes (max: 200 chars)</label>
        <!--<input id="notes" type="text"  class="form-control" placeholder="Enter Notes" multiple="multiple" maxlength="200"/>-->
        {{ form.notes(class_="form-control", type="text", placeholder="Enter Notes", multiple="multiple", maxlength="200") }}
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
    // TODO: using jquery add a "required" style to the fields that are required       
</script>
{% endblock %}