{% extends '/layout/base.html' %}
{% block title %}Eridanus::Weight{% endblock %}
{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js" integrity="sha256-xOOIPEIJM2Hn3GVaZs+VnM9J3rtaeUuHcHRXuJNO+JU=" crossorigin="anonymous"></script>
<style>
    div.detail {
        font-size: 12px;
        line-height: 1;
        padding: 4px;
        margin: 4px 0px;
        color: dimgray;
    }

    strong.date {
    }

    strong.value {
        color: #000;
    }
</style>
{% endblock %}
{% block header %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Weight</h1>

<a href="{{ url_for('weighings.create') }}" class="btn btn-default active">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add
</a>

{% for item in vm['items'] %}
<div class="detail">
    <a href="{{ url_for('weighings.edit', id=item['id']) }}">{{item['weighing_date']}}</a><br />
    <strong class="value">{{item['weight']}}</strong> kg 
    {% if vm['min_weight'] and vm['min_weight'] == item['weight'] %}
    <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:yellowgreen;"></span>
    {% endif %}
</div>
{% endfor %}
{% endblock %}